* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #89b867;
}
.box {
  margin: 15% auto;
  background-color: #fff;
  max-width: 300px;
  padding: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 30px -11px rgba(36, 36, 36, 1);
  -moz-box-shadow: 0px 4px 30px -11px rgba(36, 36, 36, 1);
  box-shadow: 0px 4px 30px -11px rgba(36, 36, 36, 1);
}

input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
input:focus {
  outline: 1px solid #cfcfcf;
}
input,
button {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  background-color: #65ad5b;
  color: #fff;
  border: none;
  cursor: pointer;
}
form p {
  text-align: center;
  color: #808080;
}
a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
}
